services:
  api:
    build:
      context: ./
      dockerfile: Dockerfile
      target: builder
      args:
        LOCAL: "true"
    image: go-clean-starter:latest
    pull_policy: never
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    command: ["air", "serve"]
    container_name: go-clean-starter-api

  task-runner:
    image: go-clean-starter:latest
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    profiles:
      - task
    container_name: go-clean-starter-task-runner

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: go_clean_starter
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge
